<div class="container">
  <%= bootstrap_form_tag url: '/static_pages/contactemail' do |f| %>
    <%= f.text_field :name, placeholder: 'John Doe' %>
    <%= f.text_field :title, placeholder: 'HR Manager' %>
    <%= f.text_field :company, placeholder: 'Company Name' %>
    <%= f.phone_field :phone, placeholder: '(515) 123-4567' %>
    <%= f.email_field :email, placeholder: 'name@example.com' %>
    <%= f.text_area :subject, rows: 10, placeholder: 'Some brief information about the problem or scope of work...' %>
    <%= f.submit "Send" %>
  <% end %>
</div>
