<div class="container">
  <h1 id='rh'>Please fill out the boxes below</h1>
  <h2 id='r'>Once complete, a partner will contact you within 24 hours.</h2>
<br />
  <%= bootstrap_form_tag url: '/static_pages/contactemail' do |f| %>
    <%= f.text_field :name, placeholder: 'John Doe', value: @name %>
    <%= f.text_field :title, placeholder: 'HR Manager', value: @title %>
    <%= f.text_field :company, placeholder: 'Company Name', value: @company %>
    <%= f.phone_field :phone, placeholder: '(515) 123-4567', value: @phone %>
    <%= f.email_field :email, placeholder: 'name@example.com', value: @email %>
    <%= f.text_area :subject, rows: 10, placeholder: 'Some brief information about the problem or scope of work...', value: @subject %>
    <%= f.submit "Send" %>
  <% end %>
</div>
