<div class="hero">
  <br />
  <div class="frosty col-8 offset-2 text-center">
    <br />
    <h3>Universal HR Solutions</h3>
    -------------------------------
    <br />
    <br />
    <h1>Our Mission Statement</h1>
    <h2>"To facilitate healthy and productive work environments that increase profits & services through innovative & modern Human Capital (Human Resource) interventions."</h2>
    <br />
  </div>
</div>
<br />


<div class="row feature">

  <div class="col-sm-12">
    <div class="card">
      <div class="card-block">
        <%= image_tag("image.png", alt: "logo", class: "mx-auto d-block", size: "150") %>
        <p class="card-text"><h3>Speciality Services</h3></p>
        <ul>
          <h2>Investigations (EEOC, Civil Rights, Harassment, Hostile Work Enviroment)</h2>
          <br />
          <h2>Subject Matter Training</h2>
              <li>Employment Law</li>
              <li>Human Resource (Compliance & After-Action Training)</li>
              <li>Supervision Academy (1-day, 3-day, full week)</li>
              <br />
          <h2>Human Resource Audits</h2>
              <li>HR Administration/Compliance</li>
              <li>Hiring Practices</li>
              <li>Recruitment & Retention Analysis</li>
              <li>Employee Engagement/Satisfaction Surveys</li>
              <li>Compensation Design & Administration</li>
              <li>Benefits Design & Administration</li>
              <li>Performance Management</li>
              <li>Discipline & Discharge</li>
              <li>Leaves of Absence</li>
              <li>Diversity & Inclusion</li>
              <li>Full Comprehensive Audits (all areas)</li>
              <br />
              <h2>Employee Handbooks</h2>
            <br />
            <h2>Strategic Planning (Group or Individual Facilitation)</h2>
            <br />
          <h2>Management/Executive Search-Placement</h2>
            <br />
          <h2>Expert Witness for Litigation</h2>
      </div>
    </div>
  </div>

</div>

<div class="row feature text-center bottom-feature">

  <div class="col-sm-4">
    <div class="card">
      <%= image_tag("note.png", alt: "logo", class: 'card-img-top img-fluid') %>
      <div class="card-block">
        <h4 class="card-title">Company Profile</h4>
        <p class="card-text">Learn more about the company and who's behind it!</p>
        <%= link_to 'About Us', about_url, class:"btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <%= image_tag("work.jpg", alt: "logo", class: 'card-img-top img-fluid') %>
      <div class="card-block">
        <h4 class="card-title">Client list</h4>
        <p class="card-text">Learn who's part of our team and how to join!</p>
        <%= link_to 'Clients', client_url, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <%= image_tag("pen.png", alt: "logo", class: 'card-img-top img-fluid') %>
      <div class="card-block">
        <h4 class="card-title">Contact us</h4>
        <p class="card-text">Learn more about HR and how we are able to help.</p>
        <%= link_to 'Contact', contact_url, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

</div>
