<div class="hero">
  <br />
  <div class="frosty col-8 offset-2 text-center">
    <br />
    <h3>Universal HR Solutions</h3>
    -------------------------------
    <h1>Why Training & Development Matters:</h1>
    <br />
    <h2>“The only thing worse than training employees and losing them, is not training them and keeping them.” - Zig Ziglar</h2>
    <br />
  </div>
</div>
<br />


<div class="row feature">

  <div class="col-sm-12">
    <div class="card">
      <div class="card-block">
        <%= image_tag("image.png", alt: "logo", class: "mx-auto d-block", size: "150") %>
        <p class="card-text">
          Employee retention is a critical issue facing today's organizations as they compete for talent in a recovering economy. According to Bersin by Deloitte, the costs of employee turnover are increasingly high, as much as 1.5 to 2 times an employee's salary. There are also other costs, such as lowered productivity and a decrease in employee morale. These all add up to big challenges for organizations that aren't investing in their human capital. A recent Aerotek study identified some of the biggest benefits of employee development: </p>
        <ul>
          <li>67 percent higher engagement levels.</li>
          <li>61 percent greater efficiencies.</li>
          <li>30 percent lower turnover.</li>
          <li>65 percent of employees say the quality of training and learning opportunities positively influences their engagement.</li>
        </ul>
        <%= image_tag("image.png", alt: "logo", class: "mx-auto d-block", size: "50") %>
        <p>In our program, we focus on five training and development best practices that can help you gain and retain high-quality employees, including:</p>
        <ul>
          <li>Developing leadership skills of your managers.</li>
          <li>Clearly defining expectations.</li>
          <li>Ensuring that training goals are aligned with company objectives.</li>
          <li>Understanding employment law.</li>
          <li>Recognizing and rewarding.</li>
        </ul>
      </div>
    </div>
  </div>

</div>

<div class="row feature text-center bottom-feature">

  <div class="col-sm-4">
    <div class="card">
      <%= image_tag("note.png", alt: "logo", class: 'card-img-top img-fluid') %>
      <div class="card-block">
        <h4 class="card-title">Our Motto</h4>
        <p class="card-text">To facilite healthy and productive work environments.</p>
        <%= link_to 'About Us', about_url, class:"btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <%= image_tag("work.jpg", alt: "logo", class: 'card-img-top img-fluid') %>
      <div class="card-block">
        <h4 class="card-title">Client list</h4>
        <p class="card-text">Learn who's part of our team and how to join!</p>
        <a href="#" class="btn btn-primary">Clients</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <%= image_tag("pen.png", alt: "logo", class: 'card-img-top img-fluid') %>
      <div class="card-block">
        <h4 class="card-title">Contact us</h4>
        <p class="card-text">Learn more about HR and how we are able to help.</p>
        <%= link_to 'Contact', contact_url, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

</div>
