<!DOCTYPE html>
<html>
  <head>
    <title>Universalhr.org</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content="width=devise-width, initial-scale=1.0" name="viewport"/>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
  </head>
  <body>
    <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">

      <a class="navbar-brand" href="#">

        <%= image_tag("image.png", alt: "logo", size: 30, class: 'd-inline-block align-top') %>
        <%= link_to 'UHRS', root_path, class: 'navbar-brand' %>
      </a>


      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse justify-content-end" id="nav-content">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'About Us', about_url, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Contact Us', contact_url, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Client List', client_url, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Training', training_url, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'References', statement_url, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>

    <%= render 'layouts/messages' %>
    <%= yield %>
    <%= render 'static_pages/footer' %>
  </body>
</html>
